archives/*
*.aux
*.auxlock
*.bbl
*.bcf
*Notes.bib
*.blg
*.dat
*.dvi
*.fdb_latexmk
*.figlist
*.fls
*.glo
*.glsdefs
*.idx
*.ilg
*.ind
*.log
*.makefile
*.mw
*.nav
*.nlo
*.out
*.script
*.snm
*.swo
*.swp
*.synctex.gz
*.table
*.toc
*.xdy
*.xml
scripts/__pycache__/*
figures/external/*
